[submodule "dpf"]
	path = dpf
	url = https://github.com/pdesaulniers/DPF.git
[submodule "plugins/wolf-spectrum/Common"]
	path = plugins/wolf-spectrum/Common
	url = https://github.com/pdesaulniers/wolf-common.git
[submodule "plugins/wolf-spectrum/Libs/inih"]
	path = plugins/wolf-spectrum/Libs/inih
	url = https://github.com/pdesaulniers/inih
